/*折叠编辑器工具栏*/
.w-e-toolbar{
    /*display: inline-block!important;*/
    flex-wrap: wrap;
}
/**
菜单栏滚动
 */
.censcms-layout-admin .censcms-sidebar{
    position: fixed;
    min-height: 0!important;
}
/*菜单栏提示*/
.censcms-sidebar-menu-help{
    display: none;
}
/*有些只可以在电脑上存在，而不能在手机上存在的动态！本打算990px，但为了不舍弃电脑更好的效果，采用420px，*/
@media only screen and (min-width: 420px){
    .censcms-layout-admin .censcms-header .censcms-layout-right .censcms-nav .hasChildItem:hover .childList{
        display: block;
    }
}
@media only screen and (max-width: 990px) {
    .censcms-layout-admin .censcms-body .censcms-body-body .layui-col-sm12{
        margin-top: 15px!important;
        padding-left: 0!important;
    }

}
@media only screen and (max-width: 600px){
    .censcms-sidebar-menu-help{
        display: block;
        padding: 1rem 1rem;

        text-align: left;

        line-height: 1.5rem;


        color: #9a9a9a;
    }
    .censcms-layout-admin .censcms-sidebar{
        background: #fff;
        min-height: 100%;
        width: 100% !important;
    }
    .censcms-layout-right .item{
        display: none!important;
    }
    .censcms-layout-right .item:nth-child(3){
        display: inline-block!important;
    }
}
@media only screen and (max-width: 419px){
    .layui-form-label{
        text-align: left;
        padding: 9px 0;
        width: 100%;
    }
    .layui-input-block{
        margin-left: 0;
    }
    .layui-form-select .layui-edge{
        position: absolute;
        bottom: 9px;
        top: auto;
    }
}